*{
  margin: 0;
  padding: 0;
}

body {
 background-color: hsl(0, 0%, 95%);
 min-height: 100vh;
 margin: auto;
 width: 50%;
 font-family: 'Open Sans', sans-serif;
 font-weight: 400;
 font-size: 15px;
}

main {
  display: flex;
  margin-top: 25vh;
}


div, h1{
  margin-bottom: 15px;
  margin-top: 15px;
  font-size: 20px;
  color: hsl(0, 0%, 95%);
}

div, p {
  font-size: 16px;
  color:hsla(0, 0%, 100%, 0.75)
}

img {
  border-radius: 50%;
}

button{
  margin-top: 25px;
  padding: 12px;
  border-radius: 25px;
  font-weight: bold;
  border: none;
  color:hsl(0, 0%, 95%);
}

.btn1 {
  color: hsl(31, 77%, 52%);
  cursor: pointer;
}

.btn2 {
  color: hsl(184, 100%, 22%);
  cursor: pointer;
}

.btn3 {
  color:hsl(179, 100%, 13%);
  cursor: pointer;
}


.container1 {
  background-color: hsl(31, 77%, 52%);
  padding: 2em;
  border-radius: 10px 0 0 10px;
}

.container2 {
  background-color: hsl(184, 100%, 22%);
  padding: 2em;
}

.container3 {
  background-color: hsl(179, 100%, 13%);
  padding: 2em;
  border-radius: 0 10px 10px 0;
}
 
@media screen and (min-width: 680px){

  body {
    font-size: 12px;
   }

   div, h1{
    margin-bottom: 12px;
    margin-top: 12px;
    font-size: 16px;
    color: hsl(0, 0%, 95%);
  }
  
  div, p {
    font-size: 13px;
    color:hsla(0, 0%, 100%, 0.75)
  }

  button{
    margin-top: 20px;
    padding: 8px;
    border-radius: 20px;
    font-weight: bold;
    border: none;
    color:hsl(0, 0%, 95%);
  }
} 
